<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=_lt.get('title-ab')%></title>

    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon"
          href="/favicon.webp">

    <meta name="description" content="<%=_lt.get('acquaintance-t-1')%>"/>
    <meta name="keywords" content="разработчик, development, portfolio, портфолио, web, web-design" />

    <meta property="og:url"                content="this" />
    <meta property="og:title"              content="<%=_lt.get('acquaintance-h')%>" />
    <meta property="og:description"        content="<%=_lt.get('acquaintance-t-1')%>" />
    <meta property="og:image"              content="/images/illustration.svg" />
    <meta property="og:locale"             content="ru_RU" />
    <meta property="og:locale:alternate"   content="en_US" />

</head>
<body>
<%- include ('header.ejs'); %>

<section class="abilities-page">
  <div class="content">
    <aside class="left-side">
        <div class="abilities-serv">
            <h3><%=_lt.get('ab-services')%></h3>
            <ol>
            <li><%=_lt.get('ab-serv-1')%></li>
            <li><%=_lt.get('ab-serv-2')%></li>
            <li><%=_lt.get('ab-serv-3')%></li>
            <li><%=_lt.get('ab-serv-4')%></li>
            <li><%=_lt.get('ab-serv-5')%></li>
            <li><%=_lt.get('ab-serv-6')%></li>
            <li><%=_lt.get('ab-serv-7')%></li>
            <li><%=_lt.get('ab-serv-8')%></li>
            <li><%=_lt.get('ab-serv-9')%></li>
            <li><%=_lt.get('ab-serv-10')%></li>
            </ol>
        </div>
        <div class="abilities-serf">
            <h3><%=_lt.get('ab-certificates')%></h3>
            <div class="serfs">
                <a href="/images/screenshots/cert-1.jpg" class="serf-block"><img src="/images/screenshots/cert-1.jpg" alt="cite"></a>
                <a href="/images/screenshots/cert-6.png" class="serf-block"><img src="/images/screenshots/cert-6.png" alt="cite"></a>
                <a href="/images/screenshots/cert-2.jpg" class="serf-block"><img src="/images/screenshots/cert-2.jpg" alt="cite"></a>
                <a href="/images/screenshots/cert-4.png" class="serf-block"><img src="/images/screenshots/cert-4.png" alt="cite"></a>
                <a href="/images/screenshots/cert-7.png" class="serf-block"><img src="/images/screenshots/cert-7.png" alt="cite"></a>
                <a href="/images/screenshots/cert-3.jpg" class="serf-block"><img src="/images/screenshots/cert-3.jpg" alt="cite"></a>
                <a href="/images/screenshots/cert-5.png" class="serf-block"><img src="/images/screenshots/cert-5.png" alt="cite"></a>
            </div>
        </div>
    </aside>
    <aside class="right-side">
        <div class="abilities-tech">
            <h3><%=_lt.get('ab-technologies')%></h3>
            <h4><%=_lt.get('ab-languages')%></h4>
            <ul>
                <li><%=_lt.get('ab-lng-1')%></li>
                <li><%=_lt.get('ab-lng-2')%></li>
                <li><%=_lt.get('ab-lng-3')%></li>
                <li><%=_lt.get('ab-lng-4')%></li>
                <li><%=_lt.get('ab-lng-5')%></li>
                <li><%=_lt.get('ab-lng-6')%></li>
                <li><%=_lt.get('ab-lng-7')%></li>
            </ul>
            <h4><%=_lt.get('ab-library')%></h4>
            <ul>
                <li><%=_lt.get('ab-lib-1')%></li>
                <li><%=_lt.get('ab-lib-2')%></li>
                <li><%=_lt.get('ab-lib-3')%></li>
                <li><%=_lt.get('ab-lib-4')%></li>
                <li><%=_lt.get('ab-lib-5')%></li>
                <li><%=_lt.get('ab-lib-6')%></li>
                <li><%=_lt.get('ab-lib-7')%></li>
                <li><%=_lt.get('ab-lib-8')%></li>
                <li><%=_lt.get('ab-lib-9')%></li>
                <li><%=_lt.get('ab-lib-10')%></li>
                <li><%=_lt.get('ab-lib-11')%></li>
            </ul>
            <h4><%=_lt.get('ab-PO')%></h4>
            <ul>
                <li><%=_lt.get('ab-po-1')%></li>
                <li><%=_lt.get('ab-po-2')%></li>
                <li><%=_lt.get('ab-po-3')%></li>
                <li><%=_lt.get('ab-po-4')%></li>
                <li><%=_lt.get('ab-po-5')%></li>
                <li><%=_lt.get('ab-po-6')%></li>
                <li><%=_lt.get('ab-po-7')%></li>
                <li><%=_lt.get('ab-po-8')%></li>
                <li><%=_lt.get('ab-po-9')%></li>
                <li><%=_lt.get('ab-po-10')%></li>
            </ul>
            <h4><%=_lt.get('ab-other')%></h4>
            <%=_lt.get('ab-other-text')%>
        </div>
        <div class="abilities-me">
            <h3><%=_lt.get('ab-my-work')%></h3>
            <div>
                <p><%=_lt.get('ab-work-1')%></p>
                <p><%=_lt.get('ab-work-2')%></p>
                <p><%=_lt.get('ab-work-3')%></p>
            </div>
        </div>
    </aside>
  </div>
</section>

<%- include ('footer.ejs'); %>
</body>
</html>