<footer>
    <div class="content">
        <div class="left-side">
            <nav class="menu">
                <a href="/story"><%=_lt.get('story')%></a>
                <a href="/abilities"><%=_lt.get('abilities')%></a>
                <a href="/works"><%=_lt.get('works')%></a>
                <a href="#"><%=_lt.get('blog')%></a>
                <a href="#"><%=_lt.get('for print')%></a>
            </nav>
            <div class="about-site">
                <h3>Swenlii</h3>
                <p><%=_lt.get('footer-text')%></p>
                <div class="language-switch">
                    <input id="switch-on2" class="lan-switch switch-left" onclick="handleClick(this);" name="lang2" value="en" type="radio" <% if (lang === 'en') {%>checked<%}%>>
                    <label for="switch-on2" class="label"><%=_lt.get('english')%></label>
                    <input id="switch-off2" class="lan-switch switch-right" onclick="handleClick(this);" name="lang2" value="ru" type="radio" <% if (lang === 'ru') {%>checked<%}%>>
                    <label for="switch-off2" class="label"><%=_lt.get('russian')%></label>
                </div>
            </div>
        </div>
        <div class="right-side">
            <p><%=_lt.get('my-contacts')%><br><%=_lt.get('contact-email')%><br><%=_lt.get('contact-phone')%></p>
            <div class="social">
                <a href="https://vk.com/swenlii"><img src="/images/social/vk.webp" alt="vk"></a>
                <a href="https://github.com/swenlii"><img src="/images/social/github.webp" alt="github"></a>
                <a href="mailto:swenliw@gmail.ru"><img src="/images/social/google.webp" alt="google"></a>
                <a href="https://t.me/swenlii"><img src="/images/social/telegram.webp" alt="telegram"></a>
            </div>
        </div>
    </div>
    <div class="last-block">
        <div><a href="/materials"><%=_lt.get('terms')%></a></div>
        <!-- <a href="http://www.freepik.com/">Image designed by Freepik</a>
        <a href="http://www.iconfinder.com/">Social icons designed by iconfinder.com</a> -->
        <div><a href="./LICENSE.txt">Copyright @2021 - Swenlii</a></div>
    </div>
</footer>
