<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=_lt.get('title')%></title>

    <meta name="description" content="<%=_lt.get('acquaintance-t-1')%>"/>
    <meta name="keywords" content="разработчик, development, portfolio, портфолио, web, web-design" />

    <meta property="og:url"                content="this" />
    <meta property="og:title"              content="<%=_lt.get('acquaintance-h')%>" />
    <meta property="og:description"        content="<%=_lt.get('acquaintance-t-1')%>" />
    <meta property="og:image"              content="/images/illustration.svg" />
    <meta property="og:locale"             content="ru_RU" />
    <meta property="og:locale:alternate"   content="en_US" />

    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon"
          href="/favicon.webp">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
<%- include ('header.ejs'); %>

<section class="acquaintance">
    <!-- svg here -->
    <div>
        <h1 data-text="<%=_lt.get('acquaintance-h')%>" data-aos="zoom-out"><%=_lt.get('acquaintance-h')%></h1>
        <p id="typewriter"><%=_lt.get('acquaintance-t-1')%><br><%=_lt.get('acquaintance-t-2')%></p>
    </div>
    <div class="right-side">
        <img src="/images/illustration.svg" alt="main-img" class="main-img">
    </div>
</section>

<section class="about-me">
    <div class="top-separator"></div>
    <div class="my-photo"><img src="/images/person.webp" alt="it is me"></div>
    <div class="content">
        <div class="left-side">
            <h2 class="i-design no-select"><%=_lt.get('about-me-h')%></h2>
            <div class="who-am-i">
                <p><%=_lt.get('about-me-t-1')%></p>
                <p><%=_lt.get('about-me-t-2')%></p>
            </div>
            <div class="sea-story">
                <a href="/story">
                    <%=_lt.get('about-me-b')%>
                </a>
            </div>

        </div>
        <aside class="right-side">
            <div class="fun-facts-head"><h3 ><%=_lt.get('about-me-facts')%></h3></div>
            <div class="fun-facts-block">
                <ul>
                    <li><%=_lt.get('about-me-fact-1')%></li>
                    <li><%=_lt.get('about-me-fact-2')%></li>
                    <li><%=_lt.get('about-me-fact-3')%></li>
                    <li><%=_lt.get('about-me-fact-4')%></li>
                    <li><%=_lt.get('about-me-fact-5')%></li>
                    <li><%=_lt.get('about-me-fact-6')%></li>
                    <li><%=_lt.get('about-me-fact-7')%></li>
                    <li><%=_lt.get('about-me-fact-8')%></li>
                </ul>
            </div>
        </aside>
    </div>
    <div class="bottom-separator"></div>
</section>

<section class="i-can-do">
    <div class="my-skills">
        <div class="skill">
            <img src="/images/key.webp" alt="">
            <h2><%=_lt.get('my-skill-1-h')%></h2>
            <div><%=_lt.get('my-skill-1')%></div>
        </div>
        <div class="skill">
            <img src="/images/code.webp" alt="">
            <div><%=_lt.get('my-skill-2')%></div>
        </div>
        <div class="skill">
            <img src="/images/effect.webp" alt="">
            <h2><%=_lt.get('my-skill-3-h')%></h2>
        </div>
        <div class="skill">
            <img src="/images/love.webp" alt="">
            <h2><%=_lt.get('my-skill-4-h')%></h2>
            <div><%=_lt.get('my-skill-4')%></div>
        </div>
        <div class="skill">
            <img src="/images/design.webp" alt="">
            <div><%=_lt.get('my-skill-5')%></div>
        </div>
    </div>
    <div class="what-can-i-do">
        <span class="tooltip left"  tooltip="<%=_lt.get('w-c-i-d-tooltip-1')%>" style="top: 10%; left: 20%"><%=_lt.get('w-c-i-d-t-1')%></span>
        <span class="tooltip left"  tooltip="<%=_lt.get('w-c-i-d-tooltip-2')%>" style="top: 70%; left: 15%"><%=_lt.get('w-c-i-d-t-2')%></span>
        <span class="tooltip right" tooltip="<%=_lt.get('w-c-i-d-tooltip-3')%>" style="top: 20%; left: 40%"><%=_lt.get('w-c-i-d-t-3')%></span>
        <span class="tooltip left"  tooltip="<%=_lt.get('w-c-i-d-tooltip-4')%>" style="top: 70%; left: 45%"><%=_lt.get('w-c-i-d-t-4')%></span>
        <span class="tooltip right" tooltip="<%=_lt.get('w-c-i-d-tooltip-5')%>" style="top: 80%; left: 60%"><%=_lt.get('w-c-i-d-t-5')%></span>
        <span class="tooltip right" tooltip="<%=_lt.get('w-c-i-d-tooltip-6')%>" style="bottom: 230px; left: 75%"><%=_lt.get('w-c-i-d-t-6')%></span>
        <span class="tooltip right" tooltip="<%=_lt.get('w-c-i-d-tooltip-7')%>" style="top: 75%; left: 85%"><%=_lt.get('w-c-i-d-t-7')%></span>
        <span class="tooltip right" tooltip="<%=_lt.get('w-c-i-d-tooltip-8')%>" style="top: 35%; left: 90%"><%=_lt.get('w-c-i-d-t-8')%></span>
        <h2 id="what-can-i-do"><%=_lt.get('w-c-i-d-h')%></h2>
        <div class="arrow">
            <div class="arrow__body"></div>
        </div>
        <div class="arrow2">
            <svg width="100" height="230" xmlns="http://www.w3.org/2000/svg" class="arrow-path" viewBox="0 0 100 230">
                <g>
                    <path stroke-width="2" stroke-dasharray="2,2" id="svg_3" d="m96,1.5c0,85 -45,96 -45,95.5c0,0.5 -83,13.5 -24,128.5" opacity="NaN" stroke="#ffffff" fill="none"/>
                    <path transform="rotate(154.532 25.845 222.011)" id="svg_4" d="m20.345,227.51061l5.5,-10.99999l5.5,10.99999l-11,0z" stroke="#ffffff" fill="#ffffff"/>
                </g>
            </svg>
        </div>
        <div class="arrow3">
            <svg width="180" height="250" viewBox="0 0 150 230" xmlns="http://www.w3.org/2000/svg" class="arrow-path">
                <g>
                    <path id="svg_6" d="m375.5,252.5" opacity="NaN" stroke-dasharray="2,2" stroke="#fff" fill="none"/>
                    <path transform="rotate(26.0165 168.767 13.1181)" stroke="#fff" id="svg_23" d="m164.26749,17.11812l4.5,-8l4.5,8l-9,0z" fill="#fff"/>
                    <path id="svg_31" d="m11.5,234c2,-104 81,-95 80.5,-95c0.5,0 43.5,11 55.5,-57c12,-68 22,-68 21.5,-68" opacity="NaN" stroke-dasharray="2,2" stroke="#fff" fill="none"/>
                </g>

            </svg>
        </div>
    </div>
    <div class="serv-tech-info">
        <div class="left-side">
            <div class="services anim-border">
                <%-_lt.get('w-c-i-d-services-html')%>
            </div>
            <a href="/abilities" class="more-button anim-border"><%=_lt.get('more-button')%></a>
            <div class="my-tools">
                <span><%=_lt.get('w-c-i-d-tools')%></span>
                <div class="tool-img" data-title="Figma"><img src="/images/figma_icon.webp" alt="figma"></div>
                <div class="tool-img" data-title="Photoshop"><img src="/images/photoshop.webp" alt="Photoshop"></div>
                <div class="tool-img" data-title="VS Code"><img src="/images/vs_icon.webp" alt="VS Code"></div>
                <div class="tool-img" data-title="Webstorm"><img src="/images/webstorm.webp" alt="Webstorm"></div>
                <div class="tool-img" data-title="Sourcetree"><img src="/images/sourcetree.webp" alt="Sourcetree"></div>
            </div>
        </div>
        <div class="right-side">
            <div class="technologies anim-border">
                <div class="header"><%=_lt.get('w-c-i-d-tech-1')%></div>
                <div class="slider" data-aos="slider" style="width:80%; background-color: var(--gray-light);"></div>
                <div class="header"><%=_lt.get('w-c-i-d-tech-2')%></div>
                <div class="slider" data-aos="slider" style="width:98%; "></div>
                <div class="header"><%=_lt.get('w-c-i-d-tech-3')%></div>
                <div class="slider" data-aos="slider" style="width:60%; background-color: var(--gray-light);"></div>
                <div class="header"><%=_lt.get('w-c-i-d-tech-4')%></div>
                <div class="slider" data-aos="slider" style="width:56%; "></div>
                <div class="header"><%=_lt.get('w-c-i-d-tech-5')%></div>
                <div class="slider" data-aos="slider" style="width:77%; background-color: var(--gray-light);"></div>
                <div class="header"><%=_lt.get('w-c-i-d-tech-6')%></div>
                <div class="slider" data-aos="slider" style="width:43%; "></div>
            </div>
            <div class="more-button-block"><a href="/abilities" class="more-button anim-border"><%=_lt.get('more-button')%></a></div>
        </div>
    </div>
</section>

<section class="my-works">
    <div class="top-separator"></div>
    <div class="my-works-text">
        <div class="letter l-m"><%= lang && lang === 'ru' ? 'Р' : 'M'%></div>
        <div class="letter l-y"><%= lang && lang === 'ru' ? 'а' : 'y'%></div>
        <% if (!(lang && lang === 'ru')) { %><div class="letter l-w no-select">w</div><% } %>
        <div class="letter l-o"><%= lang && lang === 'ru' ? 'б' : 'o'%></div>
        <div class="letter l-r"><%= lang && lang === 'ru' ? 'о' : 'r'%></div>
        <div class="letter l-k"><%= lang && lang === 'ru' ? 'т' : 'k'%></div>
        <div class="letter l-s no-select"><%= lang && lang === 'ru' ? 'ы' : 's'%></div>
    </div>
    <div class="next-button-block"><button class="next-button"><%=_lt.get('next-button')%></button></div>  
    <div class="container">
    <div class="my-works-blocks" id="works-in-this-div">
        <% for (let i = 0; i < works.length; i++) { %>
            <div class="one-work <%= i === 0 ? "card-current" : '' %>">
                <% if (works[i].mainimage) { %>
                <div class="photo">
                    <img src="/images/screenshots/<%= works[i].mainimage %>" alt="cite">
                    <svg width="101" height="199" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 199">
                        <path id="svg_1" d="m81.5,41.5c0,-39 -30,-31 -30.5,-31.5c0.5,0.5 -22.5,-0.5 -21.5,31.5c1,32 1,109 0.5,108.5c0.5,0.5 1.5,25.5 27.5,23.5c26,-2 16,-25 15.5,-25.5c0.5,0.5 -1.5,-60.5 -2,-61c0.5,0.5 -2.5,-17.5 -14.5,-13.5c-12,4 -10,15 -10.5,14.5c0.5,0.5 1.5,55.5 1,55" opacity="NaN" stroke-width="5" stroke="#000" fill="none"/>
                    </svg>
                </div>
                <% } %>
                <h3><%= works[i].title ? works[i].title : '' %></h3>
                <p><b><%=_lt.get('op-work-1')%></b> <%= works[i].name ? works[i].name : '' %></p>
                <p><b><%=_lt.get('op-work-2')%></b> <%= works[i].technologies ? works[i].technologies : '' %></p>
                <% if (works[i].gitname && works[i].git) {%><p><b><%=_lt.get('op-work-8')%></b> <a href="<%= works[i].git ? works[i].git : '' %>"  target="_blank"><%= works[i].gitname ? works[i].gitname : '' %></a></p><%}%>
                <p><b><%=_lt.get('op-work-3')%></b> <%= works[i].design ? works[i].design : '' %></p>
                <p><b><%=_lt.get('op-work-4')%></b> <%= works[i].sale ? works[i].sale : '' %></p>
                <p><b><%=_lt.get('op-work-5')%></b><%= works[i].description ? works[i].description : ''%></p>
                <a href="<%= works[i].id ? works[i].id  : '#' %>" class="show-site"><button class="anim-border"><%=_lt.get('op-work-6')%></button></a>
            </div>
        <% } %>
    </div>
    </div>
    <div class="more-button-block"><a href="/works" class="more-button"><%=_lt.get('more-button')%></a></div>
    <div class="bottom-separator"></div>
</section>

<section class="reviews">
    <h2><%-_lt.get('reviews')%></h2>
    <div class="slideshow-container fade">

        <div class="Containers">
            <div class="one-review">
                <blockquote><%-_lt.get('review-1')%></blockquote>
                <cite><%-_lt.get('review-p-1')%></cite>
            </div>
        </div>

        <div class="Containers">
            <div class="one-review">
                <blockquote><%-_lt.get('review-2')%></blockquote>
                <cite><%=_lt.get('review-p-2')%></cite>
            </div>
        </div>

        <div class="Containers">
            <div class="one-review">
                <blockquote><%-_lt.get('review-3')%></blockquote>
                <cite><%=_lt.get('review-p-3')%></cite>
            </div>
        </div>

        <!-- Back and forward buttons -->
        <div class="Back" onclick="plusSlides(-1)">
            <svg width="60" height="35" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 35">
                <g>
                    <path transform="rotate(-89.1261 12.4625 17.9031)" stroke="#ffffff" id="svg_1"
                          d="m-2.48333,28.90385l14.94583,-22.00146l14.94583,22.00146l-29.89166,0z" fill="#ffffff"/>
                    <line stroke-dasharray="2,2" stroke-width="3" id="svg_2"
                          y2="17" x2="58.5" y1="18" x1="26.5" stroke="#ffffff" fill="none"/>
                </g>
            </svg></div>
        <div class="forward" onclick="plusSlides(1)">
            <svg width="60" height="35" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 35">
                <g>
                    <path transform="rotate(91.581 47.4624 17.9031)" stroke="#ffffff" id="svg_1"
                          d="m32.5166,28.90385l14.94583,-22.00146l14.94583,22.00146l-29.89166,0z" fill="#ffffff"/>
                    <line stroke="#ffffff" stroke-dasharray="2,2" stroke-width="3" id="svg_2"
                          y2="17" x2="35.50004" y1="18" x1="1.50005" fill="none"/>
                </g>

            </svg>
        </div>
    </div>
</section>

<section class="my-blog">
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
  <div class="top-separator"></div>
    <h2 class="no-select"><%=_lt.get('my-blog')%></h2>
    <div class="blog-block">
        <div class="one-blog">
            <div class="card-hover black">
                <div>
                    <h2><%=_lt.get('article-h-1')%></h2>
                    <p><%=_lt.get('article-t-1')%></p>
                </div>
                <a href="https://conspectus.vercel.app/" class="link"><%=_lt.get('article-button')%></a>
            </div>
            <svg width="62" height="100" xmlns="http://www.w3.org/2000/svg" class="pin-paper" viewBox="0 0 62 100">
                <line stroke="#1c1c1c" id="svg_1" y2="98" x2="17.5" y1="57" x1="28.5" stroke-width="6" fill="none"/>
                <ellipse transform="rotate(14.9662 30.4743 50.7258)" stroke="#8fb8c1" ry="19.66351" rx="26.5" id="svg_2" cy="50.72581" cx="30.47427" stroke-width="3" fill="#8fb8c1"/>
                <path transform="rotate(17.5693 33.6731 39.0956)" stroke="#83a8af" id="svg_4" d="m46.67307,25.71521c0,3.69488 -5.8203,6.69018 -13,6.69018m13,-6.69018l0,0c0,3.69488 -5.8203,6.69018 -13,6.69018c-7.1797,0 -13,-2.99529 -13,-6.69018m0,0l0,0c0,-3.69488 5.8203,-6.69018 13,-6.69018c7.1797,0 13,2.9953 13,6.69018l0,26.76073c0,3.69488 -5.8203,6.69017 -13,6.69017c-7.1797,0 -13,-2.99529 -13,-6.69017l0,-26.76073z" stroke-width="3" fill="#83a8af"/>
                <ellipse transform="rotate(13.5194 39.5321 19.1279)" stroke="#8fb8c1" ry="14.21555" rx="18.9736" id="svg_3" cy="19.12794" cx="39.53208" stroke-width="3" fill="#8fb8c1"/>
            </svg>
        </div>
        <div class="one-blog">
            <div class="card-hover">
                <div>
                    <h2><%=_lt.get('article-h-2')%></h2>
                    <p><%=_lt.get('article-t-2')%></p>
                </div>
                <a href="https://conspectus.vercel.app/" class="link"><%=_lt.get('article-button')%></a>
            </div>
            <svg width="62" height="100" xmlns="http://www.w3.org/2000/svg" class="pin-paper" viewBox="0 0 62 100">
                <line stroke="#1c1c1c" id="svg_1" y2="98" x2="17.5" y1="57" x1="28.5" stroke-width="6" fill="none"/>
                <ellipse transform="rotate(14.9662 30.4743 50.7258)" stroke="#8fb8c1" ry="19.66351" rx="26.5" id="svg_2" cy="50.72581" cx="30.47427" stroke-width="3" fill="#8fb8c1"/>
                <path transform="rotate(17.5693 33.6731 39.0956)" stroke="#83a8af" id="svg_4" d="m46.67307,25.71521c0,3.69488 -5.8203,6.69018 -13,6.69018m13,-6.69018l0,0c0,3.69488 -5.8203,6.69018 -13,6.69018c-7.1797,0 -13,-2.99529 -13,-6.69018m0,0l0,0c0,-3.69488 5.8203,-6.69018 13,-6.69018c7.1797,0 13,2.9953 13,6.69018l0,26.76073c0,3.69488 -5.8203,6.69017 -13,6.69017c-7.1797,0 -13,-2.99529 -13,-6.69017l0,-26.76073z" stroke-width="3" fill="#83a8af"/>
                <ellipse transform="rotate(13.5194 39.5321 19.1279)" stroke="#8fb8c1" ry="14.21555" rx="18.9736" id="svg_3" cy="19.12794" cx="39.53208" stroke-width="3" fill="#8fb8c1"/>
            </svg>
        </div>
        <div class="one-blog">
            <div class="card-hover">
                <div>
                    <h2><%=_lt.get('article-h-3')%></h2>
                    <p><%=_lt.get('article-t-3')%></p>
                </div>
                <a href="https://conspectus.vercel.app/" class="link"><%=_lt.get('article-button')%></a>
            </div>
            <svg width="62" height="100" xmlns="http://www.w3.org/2000/svg" class="pin-paper" viewBox="0 0 62 100">
                <line stroke="#1c1c1c" id="svg_1" y2="98" x2="17.5" y1="57" x1="28.5" stroke-width="6" fill="none"/>
                <ellipse transform="rotate(14.9662 30.4743 50.7258)" stroke="#8fb8c1" ry="19.66351" rx="26.5" id="svg_2" cy="50.72581" cx="30.47427" stroke-width="3" fill="#8fb8c1"/>
                <path transform="rotate(17.5693 33.6731 39.0956)" stroke="#83a8af" id="svg_4" d="m46.67307,25.71521c0,3.69488 -5.8203,6.69018 -13,6.69018m13,-6.69018l0,0c0,3.69488 -5.8203,6.69018 -13,6.69018c-7.1797,0 -13,-2.99529 -13,-6.69018m0,0l0,0c0,-3.69488 5.8203,-6.69018 13,-6.69018c7.1797,0 13,2.9953 13,6.69018l0,26.76073c0,3.69488 -5.8203,6.69017 -13,6.69017c-7.1797,0 -13,-2.99529 -13,-6.69017l0,-26.76073z" stroke-width="3" fill="#83a8af"/>
                <ellipse transform="rotate(13.5194 39.5321 19.1279)" stroke="#8fb8c1" ry="14.21555" rx="18.9736" id="svg_3" cy="19.12794" cx="39.53208" stroke-width="3" fill="#8fb8c1"/>
            </svg>
        </div>
        <div class="one-blog">
            <div class="card-hover black">
                <div>
                    <h2><%=_lt.get('article-h-4')%></h2>
                    <p><%=_lt.get('article-t-4')%></p>
                </div>
                <a href="https://conspectus.vercel.app/" class="link"><%=_lt.get('article-button')%></a>
            </div>
            <svg width="62" height="100" xmlns="http://www.w3.org/2000/svg" class="pin-paper" viewBox="0 0 62 100">
                <line stroke="#1c1c1c" id="svg_1" y2="98" x2="17.5" y1="57" x1="28.5" stroke-width="6" fill="none"/>
                <ellipse transform="rotate(14.9662 30.4743 50.7258)" stroke="#8fb8c1" ry="19.66351" rx="26.5" id="svg_2" cy="50.72581" cx="30.47427" stroke-width="3" fill="#8fb8c1"/>
                <path transform="rotate(17.5693 33.6731 39.0956)" stroke="#83a8af" id="svg_4" d="m46.67307,25.71521c0,3.69488 -5.8203,6.69018 -13,6.69018m13,-6.69018l0,0c0,3.69488 -5.8203,6.69018 -13,6.69018c-7.1797,0 -13,-2.99529 -13,-6.69018m0,0l0,0c0,-3.69488 5.8203,-6.69018 13,-6.69018c7.1797,0 13,2.9953 13,6.69018l0,26.76073c0,3.69488 -5.8203,6.69017 -13,6.69017c-7.1797,0 -13,-2.99529 -13,-6.69017l0,-26.76073z" stroke-width="3" fill="#83a8af"/>
                <ellipse transform="rotate(13.5194 39.5321 19.1279)" stroke="#8fb8c1" ry="14.21555" rx="18.9736" id="svg_3" cy="19.12794" cx="39.53208" stroke-width="3" fill="#8fb8c1"/>
            </svg>
        </div>
    </div>
    <a href="https://conspectus.vercel.app/" class="go-blog-button">
        <div class="back"></div>
        <div class="back"></div>
        <div class="back"></div>
        <div class="back"></div>
        <span><%=_lt.get('go-to-my-blog')%></span>
    </a>
</section>

<section class="contact-me">
    <h2><span><%=_lt.get('contact-me-h')%></span></h2>
    <div class="content">
        <div class="left-side">
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <form class="contact-form" id="contact-form">
                <h3><%=_lt.get('contact-form-h')%></h3>
                <div class="mail-block">
                    <label for="contact-name">*<%=_lt.get('contact-form-name')%></label>
                    <input type="text" name="name" id="contact-name" minlength="3" required>
                </div>
                <div class="mail-block">
                    <label for="contact-email">*<%=_lt.get('contact-form-email')%></label>
                    <input type="email" name="email" id="contact-email" minlength="5" required>
                </div>
                <div class="mail-block">
                    <label for="contact-title"><%=_lt.get('contact-form-title')%></label>
                    <input type="text" name="title" id="contact-title">
                </div>
                <div class="mail-block">
                    <div class="header"><%=_lt.get('contact-form-object')%></div>
                    <div class="radio-parent">
                    <label class="radio-label">
                        <input type="radio" name="object" id="development" value="development" required>
                        <span class="true-label"><%=_lt.get('contact-form-obj-1')%><svg viewBox="0 0 500 150" preserveAspectRatio="none">
                            <path fill="none" d="M325,18C228.7-8.3,118.5,8.3,78,21C22.4,38.4,4.6,54.6,5.6,77.6c1.4,32.4,52.2,54,142.6,63.7 c66.2,7.1,212.2,7.5,273.5-8.3c64.4-16.6,104.3-57.6,33.8-98.2C386.7-4.9,179.4-1.4,126.3,20.7" />
                        </svg></span>

                    </label>
                    <label class="radio-label">
                        <input type="radio" name="object" id="design" value="design" required>
                        <span class="true-label"><%=_lt.get('contact-form-obj-2')%><svg viewBox="0 0 500 150" preserveAspectRatio="none">
                            <path fill="none" d="M325,18C228.7-8.3,118.5,8.3,78,21C22.4,38.4,4.6,54.6,5.6,77.6c1.4,32.4,52.2,54,142.6,63.7 c66.2,7.1,212.2,7.5,273.5-8.3c64.4-16.6,104.3-57.6,33.8-98.2C386.7-4.9,179.4-1.4,126.3,20.7" />
                        </svg></span>

                    </label>
                    <label class="radio-label">
                        <input type="radio" name="object" id="project" value="project" required>
                        <span class="true-label"><%=_lt.get('contact-form-obj-3')%><svg viewBox="0 0 500 150" preserveAspectRatio="none">
                            <path fill="none" d="M325,18C228.7-8.3,118.5,8.3,78,21C22.4,38.4,4.6,54.6,5.6,77.6c1.4,32.4,52.2,54,142.6,63.7 c66.2,7.1,212.2,7.5,273.5-8.3c64.4-16.6,104.3-57.6,33.8-98.2C386.7-4.9,179.4-1.4,126.3,20.7" />
                        </svg></span>

                    </label>
                    <label class="radio-label">
                        <input type="radio" name="object" id="work" value="work" required>
                        <span class="true-label"><%=_lt.get('contact-form-obj-4')%><svg viewBox="0 0 500 150" preserveAspectRatio="none">
                            <path fill="none" d="M325,18C228.7-8.3,118.5,8.3,78,21C22.4,38.4,4.6,54.6,5.6,77.6c1.4,32.4,52.2,54,142.6,63.7 c66.2,7.1,212.2,7.5,273.5-8.3c64.4-16.6,104.3-57.6,33.8-98.2C386.7-4.9,179.4-1.4,126.3,20.7" />
                        </svg></span>

                    </label>
                    <label class="radio-label">
                        <input type="radio" name="object" id="feedback" value="feedback" required>
                        <span class="true-label"><%=_lt.get('contact-form-obj-5')%><svg viewBox="0 0 500 150" preserveAspectRatio="none">
                            <path fill="none" d="M325,18C228.7-8.3,118.5,8.3,78,21C22.4,38.4,4.6,54.6,5.6,77.6c1.4,32.4,52.2,54,142.6,63.7 c66.2,7.1,212.2,7.5,273.5-8.3c64.4-16.6,104.3-57.6,33.8-98.2C386.7-4.9,179.4-1.4,126.3,20.7" />
                        </svg></span>

                    </label>
                    <label class="radio-label">
                        <input type="radio" name="object" id="other" value="other" required>
                        <span class="true-label"><%=_lt.get('contact-form-obj-6')%><svg viewBox="0 0 500 150" preserveAspectRatio="none">
                            <path fill="none" d="M325,18C228.7-8.3,118.5,8.3,78,21C22.4,38.4,4.6,54.6,5.6,77.6c1.4,32.4,52.2,54,142.6,63.7 c66.2,7.1,212.2,7.5,273.5-8.3c64.4-16.6,104.3-57.6,33.8-98.2C386.7-4.9,179.4-1.4,126.3,20.7" />
                        </svg></span>

                    </label>
                    </div>
                </div>
                <div class="mail-block" style="margin-top: 3em;">
                    <label for="mail-text"><%=_lt.get('contact-form-text')%></label>
                    <textarea id="mail-text" name="mail" required></textarea>
                </div>
                <div class="mail-block">
                    <button type="submit"><%=_lt.get('contact-form-submit')%><svg viewBox="0 0 500 150" preserveAspectRatio="none">
                            <path fill="none" d="M325,18C228.7-8.3,118.5,8.3,78,21C22.4,38.4,4.6,54.6,5.6,77.6c1.4,32.4,52.2,54,142.6,63.7 c66.2,7.1,212.2,7.5,273.5-8.3c64.4-16.6,104.3-57.6,33.8-98.2C386.7-4.9,179.4-1.4,126.3,20.7" />
                        </svg></button>
                </div>
                <div class="mail-block" style="font-size: 0.6em"><%=_lt.get('contact-data-not-save')%></div>
            </form>
        </div>
        <div class="right-side">
            <div class="contacts-block">
                <h3><%=_lt.get('contacts-h')%></h3>
                <p><b><%=_lt.get('contacts-my-address')%></b> <%=_lt.get('contact-address')%></p>
                <p class="social">
                    <a href="https://github.com/swenli"><img src="/images/social/github.webp" alt="icon"><%=_lt.get('contact-social-5')%></a></p>
                <p class="social">
                    <a href="mailto:ira.swenlii@gmail.com"><img src="/images/social/google.webp" alt="icon"><%=_lt.get('contact-social-6')%></a></p>
                <p class="social">
                    <a href="https://vk.com/swenlii"><img src="/images/social/vk.webp" alt="icon"><%=_lt.get('contact-social-1')%></a></p>
                <p class="social">
                    <a href="https://steamcommunity.com/id/swenlii"><img src="/images/social/steam.webp" alt="icon"><%=_lt.get('contact-social-2')%></a></p>
                <p class="social">
                    <a href="https://twitter.com/swenlii"><img src="/images/social/twitter.webp" alt="icon"><%=_lt.get('contact-social-3')%></a></p>
                <p class="social">
                    <a href="https://t.me/swenlii"><img src="/images/social/telegram.webp" alt="icon"><%=_lt.get('contact-social-7')%></a></p>
                <p class="social">
                    <a href="https://conspectus.vercel.app/"><img src="/images/social/earth.webp" alt="icon"><%=_lt.get('contact-social-8')%></a></p>
                <p class="social">
                    <a href="https://swenlii.epizy.com"><img src="/images/social/earth.webp" alt="icon"><%=_lt.get('contact-social-9')%></a></p>
            </div>
        </div>
    </div>
</section>

<%- include ('footer.ejs'); %>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/js/functions.js"></script>
<script>
    // печать текста
    let aText = ["<%=_lt.get('acquaintance-t-1')%>", "&shy;",
        "<%=_lt.get('acquaintance-t-2')%>", "<%-_lt.get('acquaintance-t-3')%>"];
    let iSpeed = 50; // time delay of print out
    let iIndex = 0; // start printing array at this position
    let iArrLength = aText[0].length; // the length of the text array
    let iScrollAt = 20; // start scrolling up at this many lines

    let iTextPos = 0; // initialise text position
    let sContents = ''; // initialise contents variable
    let iRow; // initialise current row

    function typewriter()
    {
        sContents =  ' ';
        iRow = Math.max(0, iIndex-iScrollAt);
        let destination = document.getElementById("typewriter");

        if (window.innerWidth <= 850) {
            sContents = aText[0] + '<br />' + aText[1] + '<br />' + aText[2] + '<br />' + aText[3];
            destination.innerHTML = sContents;
            return;
        }

        while ( iRow < iIndex ) {
            sContents += aText[iRow++] + '<br />';
        }
        destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos) + "_";
        if ( iTextPos++ === iArrLength ) {
            iTextPos = 0;
            iIndex++;
            
            if ( iIndex !== aText.length ) {
                if (iIndex === 3) iSpeed = 10;
                iArrLength = aText[iIndex].length;
                setTimeout("typewriter()", 500);
            }
        } else {
            setTimeout("typewriter()", iSpeed);
        }
    }

    typewriter();
</script>
</body>
</html>