<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>

    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon"
          type="image/png"
          href="/favicon.png">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <meta name="description" content="<%=_lt.get('acquaintance-t-1')%>"/>
    <meta name="keywords" content="разработчик, development, portfolio, портфолио, web, web-design" />

    <meta property="og:url"                content="this" />
    <meta property="og:title"              content="<%=_lt.get('acquaintance-h')%>" />
    <meta property="og:description"        content="<%=_lt.get('acquaintance-t-1')%>" />
    <meta property="og:image"              content="/images/illustration.svg" />
    <meta property="og:locale"             content="ru_RU" />
    <meta property="og:locale:alternate"   content="en_US" />

</head>
<body>
<%- include ('header.ejs'); %>


<section class="one-work-page">
    <h1><%= work.title %></h1>
    <div class="page">
        <img src="/images/<%= work.mainimage %>" alt="preview" class="main-img">
        <p><b>Name:</b> <%= work.name %></p>
        <p><b>Technologies:</b> <%= work.technologies %></p>
        <p><b>Design:</b> <%= work.design %></p>
        <p><b>Sale:</b> <%= work.sale %></p>
        <p><b>Description:</b><%= work.description %></p>
        <% for (let i = 0; i < work.images.length; i++) {%>
        <img src="/images/<%= work.images[i] %>" alt="preview" class="page-img">
        <%}%>
        <p><%= work.other %></p>
        <div class="show-site"><a href="#">Show site</a></div>
    </div>
</section>

<%- include ('footer.ejs'); %>
</body>
</html>