<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=_lt.get('title-pp')%></title>

    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon"
          href="/favicon.webp">

    <meta name="description" content="<%=_lt.get('acquaintance-t-1')%>"/>
    <meta name="keywords" content="разработчик, development, portfolio, портфолио, web, web-design" />

    <meta property="og:url"                content="this" />
    <meta property="og:title"              content="<%=_lt.get('acquaintance-h')%>" />
    <meta property="og:description"        content="<%=_lt.get('acquaintance-t-1')%>" />
    <meta property="og:image"              content="/images/illustration.svg" />
    <meta property="og:locale"             content="ru_RU" />
    <meta property="og:locale:alternate"   content="en_US" />

</head>
<body>
<%- include ('header.ejs'); %>

<section class="my-story">
    <h1><%=_lt.get('privacy-policy-h1')%></h1>
</section>

<section class="university-story">
    <p><%=_lt.get('privacy-policy-p-1')%></p>
</section>

<section class="work-story">
    <h3><%=_lt.get('privacy-policy-h4-1')%></h3>
    <p><%=_lt.get('privacy-policy-p-2')%></p>
    <h3><%=_lt.get('privacy-policy-h4-2')%></h3>
    <p><%=_lt.get('privacy-policy-p-3')%></p>
    <h3><%=_lt.get('privacy-policy-h4-3')%></h3>
    <p><%=_lt.get('privacy-policy-p-4')%></p>
    <p><%=_lt.get('privacy-policy-p-5')%></p>
    <h3><%=_lt.get('privacy-policy-h4-4')%></h3>
    <p><%=_lt.get('privacy-policy-p-6')%></p>
    <h3><%=_lt.get('privacy-policy-h4-5')%></h3>
    <p><%=_lt.get('privacy-policy-p-7')%></p>
    <p><%=_lt.get('privacy-policy-p-8')%></p>
    <h3><%=_lt.get('privacy-policy-h4-6')%></h3>
    <p><%=_lt.get('privacy-policy-p-9')%></p>
    <h3><%=_lt.get('privacy-policy-h4-7')%></h3>
    <p><%=_lt.get('privacy-policy-p-10')%></p>
    <h3><%=_lt.get('privacy-policy-h4-8')%></h3>
    <p><%=_lt.get('privacy-policy-p-11')%></p>
    <h3><%=_lt.get('privacy-policy-h4-9')%></h3>
    <p><%=_lt.get('privacy-policy-p-12')%></p>
    <h3><%=_lt.get('privacy-policy-h4-10')%></h3>
    <p><%=_lt.get('privacy-policy-p-13')%></p>
</section>

<%- include ('footer.ejs'); %>
<script src="/js/functions.js"></script>
</body>
</html>