<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=_lt.get('title-st')%></title>

    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon"
          href="/favicon.webp">

    <meta name="description" content="<%=_lt.get('acquaintance-t-1')%>"/>
    <meta name="keywords" content="разработчик, development, portfolio, портфолио, web, web-design" />

    <meta property="og:url"                content="this" />
    <meta property="og:title"              content="<%=_lt.get('acquaintance-h')%>" />
    <meta property="og:description"        content="<%=_lt.get('acquaintance-t-1')%>" />
    <meta property="og:image"              content="/images/illustration.svg" />
    <meta property="og:locale"             content="ru_RU" />
    <meta property="og:locale:alternate"   content="en_US" />

</head>
<body>
<%- include ('header.ejs'); %>

<section class="my-story">
    <h1><%=_lt.get('story-h-1')%></h1>
    <p><%=_lt.get('story-p-1')%></p>
</section>

<section class="child-story">
  <h3><%=_lt.get('story-h-2')%></h3>
    <p><%=_lt.get('story-p-2')%></p>
    <p><%=_lt.get('story-p-3')%></p>
</section>

<section class="university-story">
    <h3><%=_lt.get('story-h-3')%></h3>
    <p><%=_lt.get('story-p-4')%></p>
    <p><%=_lt.get('story-p-5')%></p>
</section>

<section class="work-story">
    <h3><%=_lt.get('story-h-4')%></h3>

    <h4><span>SykGameLab</span> <span><%=_lt.get('story-h-4-1')%></span></h4>
    <p><b><%=_lt.get('story-op-1')%></b> <%=_lt.get('story-work-1-op-1')%></p>
    <p><b><%=_lt.get('story-op-2')%></b> <%=_lt.get('story-work-1-op-2')%></p>
    <p><b><%=_lt.get('story-op-3')%></b> <%=_lt.get('story-work-1-op-3')%></p>
    <p><b><%=_lt.get('story-op-4')%></b> <%=_lt.get('story-work-1-op-4')%></p>
    <p><b><%=_lt.get('story-op-5')%></b> <%=_lt.get('story-work-1-op-5')%></p>
    <p><b><%=_lt.get('story-op-6')%></b> <%=_lt.get('story-work-1-op-6')%></p>
    <p><b><%=_lt.get('story-op-7')%></b> <%=_lt.get('story-work-1-op-7')%></p>

    <h4><span>Platon Finance</span> <span><%=_lt.get('story-h-4-2')%></span></h4>
    <p><b><%=_lt.get('story-op-1')%></b> <%=_lt.get('story-work-2-op-1')%></p>
    <p><b><%=_lt.get('story-op-2')%></b> <%=_lt.get('story-work-2-op-2')%></p>
    <p><b><%=_lt.get('story-op-3')%></b> <%=_lt.get('story-work-2-op-3')%></p>
    <p><b><%=_lt.get('story-op-4')%></b> <%=_lt.get('story-work-2-op-4')%></p>
    <p><b><%=_lt.get('story-op-5')%></b> <%=_lt.get('story-work-2-op-5')%></p>
    <p><b><%=_lt.get('story-op-6')%></b> <%=_lt.get('story-work-2-op-6')%></p>
    <p><b><%=_lt.get('story-op-7')%></b> <%=_lt.get('story-work-2-op-7')%></p>
    
    <h4><span>Blackwood</span> <span><%=_lt.get('story-h-4-3')%></span></h4>
    <p><b><%=_lt.get('story-op-1')%></b> <%=_lt.get('story-work-3-op-1')%></p>
    <p><b><%=_lt.get('story-op-2')%></b> <%=_lt.get('story-work-3-op-2')%></p>
    <p><b><%=_lt.get('story-op-3')%></b> <%=_lt.get('story-work-3-op-3')%></p>
    <p><b><%=_lt.get('story-op-4')%></b> <%=_lt.get('story-work-3-op-4')%></p>
    <p><b><%=_lt.get('story-op-5')%></b> <%=_lt.get('story-work-3-op-5')%></p>
    <p><b><%=_lt.get('story-op-6')%></b> <%=_lt.get('story-work-3-op-6')%></p>
    <p><b><%=_lt.get('story-op-7')%></b> <%=_lt.get('story-work-3-op-7')%></p>
</section>

<%- include ('footer.ejs'); %>
<script src="/js/functions.js"></script>
</body>
</html>