<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=_lt.get('title-tm')%></title>

    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon"
          href="/favicon.webp">

    <meta name="description" content="<%=_lt.get('acquaintance-t-1')%>"/>
    <meta name="keywords" content="разработчик, development, portfolio, портфолио, web, web-design" />

    <meta property="og:url"                content="this" />
    <meta property="og:title"              content="<%=_lt.get('acquaintance-h')%>" />
    <meta property="og:description"        content="<%=_lt.get('acquaintance-t-1')%>" />
    <meta property="og:image"              content="/images/illustration.svg" />
    <meta property="og:locale"             content="ru_RU" />
    <meta property="og:locale:alternate"   content="en_US" />

</head>
<body>
<%- include ('header.ejs'); %>

<section class="terms">
    <h1><%=_lt.get('materials')%></h1>
    <div>
        <p><%=_lt.get('materials-1')%></p>
        <p><%-_lt.get('materials-2')%></p>
        <p><%-_lt.get('materials-3')%></p>
        <p><%=_lt.get('materials-4')%></p>
    </div>

</section>

<%- include ('footer.ejs'); %>
<script src="/js/functions.js"></script>
</body>
</html>