<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=_lt.get('title')%></title>

    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon"
          type="image/png"
          href="/favicon.png">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <meta name="description" content="<%=_lt.get('acquaintance-t-1')%>"/>
    <meta name="keywords" content="разработчик, development, portfolio, портфолио, web, web-design" />

    <meta property="og:url"                content="this" />
    <meta property="og:title"              content="<%=_lt.get('acquaintance-h')%>" />
    <meta property="og:description"        content="<%=_lt.get('acquaintance-t-1')%>" />
    <meta property="og:image"              content="/images/illustration.svg" />
    <meta property="og:locale"             content="ru_RU" />
    <meta property="og:locale:alternate"   content="en_US" />

</head>
<body>
<%- include ('header.ejs'); %>

<section class="works-page">
  <h1>My works</h1>
    <div class="works" id="works-in-this-div2">
        <% for (let i = 0; i < works.length; i++) { %>
        <div class="one-work">
            <div class="photo">
                <img src="/images/<%= works[i].mainimage %>" alt="cite">
                <svg width="101" height="199" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 199">
                    <path id="svg_1" d="m81.5,41.5c0,-39 -30,-31 -30.5,-31.5c0.5,0.5 -22.5,-0.5 -21.5,31.5c1,32 1,109 0.5,108.5c0.5,0.5 1.5,25.5 27.5,23.5c26,-2 16,-25 15.5,-25.5c0.5,0.5 -1.5,-60.5 -2,-61c0.5,0.5 -2.5,-17.5 -14.5,-13.5c-12,4 -10,15 -10.5,14.5c0.5,0.5 1.5,55.5 1,55" opacity="NaN" stroke-width="5" stroke="#000" fill="none"/>
                </svg>
            </div>
            <h3><%= works[i].title %></h3>
            <p><b>Name:</b> <%= works[i].name %></p>
            <p><b>Technologies:</b> <%= works[i].technologies %></p>
            <p><b>Design:</b> <%= works[i].design %></p>
            <p><b>Sale:</b> <%= works[i].sale %></p>
            <p><b>Description:</b><%= works[i].description %></p>
            <a href="<%= works[i].id %>" class="show-site"><button class="anim-border">Show site</button></a>
        </div>
        <% } %>
    </div>
</section>

<%- include ('footer.ejs'); %>

</body>
</html>