<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=_lt.get('title-ws')%></title>

    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="icon"
          href="/favicon.webp">

    <meta name="description" content="<%=_lt.get('acquaintance-t-1')%>"/>
    <meta name="keywords" content="разработчик, development, portfolio, портфолио, web, web-design" />

    <meta property="og:url"                content="this" />
    <meta property="og:title"              content="<%=_lt.get('acquaintance-h')%>" />
    <meta property="og:description"        content="<%=_lt.get('acquaintance-t-1')%>" />
    <meta property="og:image"              content="/images/illustration.svg" />
    <meta property="og:locale"             content="ru_RU" />
    <meta property="og:locale:alternate"   content="en_US" />

</head>
<body>
<%- include ('header.ejs'); %>

<section class="works-page">
  <h1><%=_lt.get('my-works')%></h1>
    <div class="works" id="works-in-this-div2">
        <% for (let i = 0; i < works.length; i++) { %>
        <div class="one-work">
            <% if (works[i].mainimage) { %>
            <div class="photo">
                <img src="/images/screenshots/<%= works[i].mainimage %>" alt="cite">
                <svg width="101" height="199" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101 199">
                    <path id="svg_1" d="m81.5,41.5c0,-39 -30,-31 -30.5,-31.5c0.5,0.5 -22.5,-0.5 -21.5,31.5c1,32 1,109 0.5,108.5c0.5,0.5 1.5,25.5 27.5,23.5c26,-2 16,-25 15.5,-25.5c0.5,0.5 -1.5,-60.5 -2,-61c0.5,0.5 -2.5,-17.5 -14.5,-13.5c-12,4 -10,15 -10.5,14.5c0.5,0.5 1.5,55.5 1,55" opacity="NaN" stroke-width="5" stroke="#000" fill="none"/>
                </svg>
            </div>
            <% } %>
            <h3><%= works[i].title ? works[i].title : '' %></h3>
            <p><b><%=_lt.get('op-work-1')%></b> <%= works[i].name ? works[i].name : '' %></p>
            <p><b><%=_lt.get('op-work-2')%></b> <%= works[i].technologies ? works[i].technologies : '' %></p>
            <% if (works[i].gitname && works[i].git) {%><p><b><%=_lt.get('op-work-8')%></b> <a href="<%= works[i].git ? works[i].git : '' %>" target="_blank"><%= works[i].gitname ? works[i].gitname : '' %></a></p><%}%>
            <p><b><%=_lt.get('op-work-3')%></b> <%= works[i].design ? works[i].design : '' %></p>
            <p><b><%=_lt.get('op-work-4')%></b> <%= works[i].sale ? works[i].sale : '' %></p>
            <p><b><%=_lt.get('op-work-5')%></b><%= works[i].description ? works[i].description : ''%></p>
            <a href="<%= works[i].id ? works[i].id : '' %>" class="show-site"><button class="anim-border"><%=_lt.get('op-work-6')%></button></a>
        </div>
        <% } %>
    </div>
</section>

<%- include ('footer.ejs'); %>
<script src="/js/functions.js"></script>
</body>
</html>